<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Películas</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <!-- Cambiamos la etiqueta "form" por un "div" porque no tenemos importado el módulo "FormsModule" y queremos evitar
           el comportamiento por defecto de un formulario en un navegador web, es decir, evitar que la página del navegador se recargue
           automáticamente cuando se produce el evento "Submit" del formulario -->
      <div class="d-flex">
        <input #txtBuscar
          (keyup.enter)="buscarPelicula(txtBuscar.value)"
          class="form-control me-2"
          type="search"
          placeholder="Buscar película"
          aria-label="Search">
        <button type="button"
          class="btn btn-outline-success"
          (click)="buscarPelicula(txtBuscar.value)">
          Buscar
        </button>
      </div>
    </div>
  </div>
</nav>
