<form [formGroup]="forma">
    <mat-form-field>
      <input matInput placeholder="Título" formControlName="titulo">
    </mat-form-field>
  
    <mat-form-field>
      <textarea rows="3" matInput placeholder="Descripción" formControlName="desc"></textarea>
    </mat-form-field>

    <button
        mat-raised-button color="primary"
        style="margin-right: 3px;"
        (click)="guardarCambios()">
        Editar
    </button>
    <button
        mat-raised-button color="warn"
        (click)="onNoClick()">
        Cancelar
    </button>
</form>
